.Footer {
    height: 100px;
    width: 100vw;
    background: #323232;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;

    .Footer-info {
        display: flex;
        align-items: center;
        height: inherit;
        margin: 0px 0px 0px 30px;

        & > h2 {
            color: #fff;
            font-size: 24px;
            padding: 0px 2% 0px 2%;
        }

        & > p {
            color: #696969;
            font-size: 18px;
            margin: 0px 10px 0px 10px;
        }
    }

    .Footer-list {
        display: flex;
        font-size: 30px;
        align-self: center;
        margin: 0px 40px 0px 0px;

        .Button-item {
            margin: 0px 20px 0px 0px;
            cursor: pointer;

            & > a {
                color: #f5f5f5;
                transition: all .4s ease;
            }
        }
    }
}

.Button-item:nth-child(1) {
    &:hover > a {
        color: #aaaaaa;
    }
}

.Button-item:nth-child(2) {
    &:hover > a {
        color: #689F38;
    }
}

.Button-item:nth-child(3) {
    &:hover > a {
        color: #4267B2;
    }
}